




.contenedor-menu{
    position: absolute;
    color: rgb(168, 122, 122);
    border: 2px solid rgb(90, 153, 179);
    right: 5px;
    width: 300px;
    height: 900px;
    top: 10px;
     
   }
   
   .menu{
     font-size: 2.5vh;
     margin-left: 10px;
   }
   
   
   
   
   
   .header{
     position: absolute;
     color: rgb(42, 50, 165);
     border: 2px solid darkblue;
     margin-left: 20px;
     width: 1570px;
     height: 90px;
     top: 10px;
   
   }
   
   .titulo{
     position: absolute;
      margin-left: 50px;
      top: 2px;
      font-size: 2.5vh;
   
   }
   
   .nombre_componente{
     
     margin-left: 700px;
     top: 0px;
      font-size: 2.5vh;
   }
   
   .contenedor{
     position: absolute;
     border: 2px solid rgb(127, 194, 72);
     margin-left: 20px;
     top: 110px;
     font-size: 2.5vh;
     width: 1570px;
     height: 800px;
     
   }
   
   .contenedor_principal{
     margin-top: 20px;
     margin-left: 50px;
     width: 1460px;
     height: 800px;
     font-size: 1.5vh;
   }